.botao {
    padding: 32px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
    background-color: #66c41a;
}

.botao:hover {
    color: #95FFD4;
}